body {
    background-color: #e6f7f6;
    font-family: sans-serif;
}

header h1{
    font-size: 40pt;

    text-transform: uppercase;
    text-align: center;
    background: url("bg.jpg") left / auto 100% no-repeat;
}

body h3 {
    text-transform: uppercase;
    color: #2764A0;
}


a {
    color: #2784FF;
}

nav {
    margin-left: 0px;
    font-size: 14pt;
    width: 14%;
    float: left;
    border-right: 2px;
}

section {
    margin-left: 15%;
    background-color: #e6f7f6;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

section li {
    margin: 8px;
}

.col1,
.col2 {
    width: 40px;
}

.col3 {
    width: 30%;
}

.col4 {
    width: 25%;
}

.col_detail1 {
    width: 20%;
    text-align: left;
    font-weight: bold;
}

.col_detail2 {
    width: 80%;
    text-align: left;
}

.button {
    font: bold 14px Arial;
    text-decoration: none;
    background-color: #FAFAFA;
    color: #333333;
    margin: 4px;
    padding: 4px 10px 4px 10px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 8px;
}

.deletebutton {
    background-color: #FFE5E5;
    color: #DD3333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FAFAFA;
}

li a {
    margin: 0;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover:not(.active) {
    background-color: #EFEFEF;
}

.active {
    background-color: #47A4FF;
    color: white;
}

.navbar {
    display: block;

}

th, td {
    padding: 10px;
    height: 10px;
}