{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} :: График отпусков</title>
    <link rel="stylesheet" type="text/css" href="{% static 'vacations/style.css' %}">
</head>
<body>
    <header>
        <h1>График отпусков<div>{% block auth %}
            {% if user.is_authenticated %}
            {% if user.bound_employee is not None %}
            <a href="{% url 'vacations:details' user.bound_employee.pk %}">{{ user }}</a>
            {% else %}
            {{ user }}
            {% endif %}
            <a href="{% url 'accounts:logout' %}">Выход</a>
            {% else %}
            <a href="{% url 'accounts:login' %}">Вход в систему</a>
            {% endif %}
        {% endblock %}</div></h1>
    </header>
    <nav>
        <ul>
            <li><a {% block index %}{% endblock %} href="{% url 'vacations:index' %}">Главная</a></li>
            {% if user.employees_permission_level >= EDIT or user.is_staff %}<li><a {% block add_employee %}{% endblock %} href="{% url 'vacations:add_employee' %}">Добавить сотрудника</a></li>{% endif %}
            {% if user.employees_permission_level >= EDIT and user.is_department_manager or user.is_staff %}<li><a {% block add_department %}{% endblock %} href="{% url 'vacations:add_department' %}">Добавить отдел</a></li>{% endif %}
            {% if user.is_staff %}<li><a href="{% url 'admin:index' %}">Панель администратора</a></li>{% endif %}
        </ul>
    </nav>
    {% for message in messages %}
        <p id="message">{{ message }}</p>
    {% endfor %}
    {% block content %}
    {% endblock %}
</body>
</html>