{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} :: График отпусков</title>
    <link rel="stylesheet" type="text/css" href="{% static 'vacations/style.css' %}">
</head>
<body>
    <header>
        <h1>График отпусков</h1>
    </header>
    <nav>
        <a href="{% url 'index' %}">Главная</a>
        <hr>
        <a href="{% url 'add_employee' %}">Добавить сотрудника</a>
        <hr>
        <a href="{% url 'add_department' %}">Добавить отдел</a>
        <hr>
        <a href="http://192.168.0.26:8000/admin">Администратор</a>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>