{% extends "layout/basic.html" %}

{% block departments_active %}active{% endblock %}

{% block title %}{{ current_department }}{% endblock %}


{% block content %}
  <table class="table table-striped my-1 text-center align-middle">
    <thead>
      <tr class="">
        <th class="">Место</th>
        <th class="">Коэффициент ОС</th>
        <th class="">ФИО</th>
        <th class="">Замещает</th>
        <th class="">Отпуска за последние 3 года</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employees %}
        <tr class="">
          <td>{{ forloop.counter }}</td>
          <td>{{ employee.rating }}</td>
          <td class="fw-bold">
            <a class="text-decoration-none"
               href="{% url 'vacations:details' employee.pk %}">
              {{ employee }}
            </a>
          </td>
          <td>
            {% if employee.replaces is null %}
              Нет
            {% else %}
              <a href="{% url 'vacations:details' employee.replaces.pk %}">
                {{ employee.replaces }}
              </a>
            {% endif %}
          </td>
          <td>
            <!--ul class="list-group py-0 my-0"-->
              {% for vacation in vacations %}
                {% if vacation.employee == employee and vacation.relevance >= RELEVANT %}
                  <label class="{% if vacation.relevance == PLANNED %}text-success
                  {% elif vacation.relevance == ARCHIVE %}text-secondary{% endif %}">{{ vacation.start|date:"SHORT_DATE_FORMAT" }} - {{ vacation.end|date:"SHORT_DATE_FORMAT" }}</label><br>
                {% endif %}
              {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}