{% extends "layout/basic.html" %}

{% block index_active %}active{% endblock %}

{% block leftbar %}
  <span class="fs-5 d-none d-sm-inline"><a class="nav-link text-center"><strong>Все отделы</strong></a></span>

  <div class="btn-group dropend">
    <button type="button"
            class="list-group-item list-group-item-action dropdown-toggle text-break"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            title="Экспортировать данные об отпусках в выбранном году в форму Т-7">
      Экспорт Т-7
    </button>
    <ul class="dropdown-menu">
      {% for year in relevant_years %}
        <li><a class="dropdown-item" href="{% url 'vacations:export_t7_all' year %}">{{ year }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block content %}
  {% load static %}
  <table class="table table-striped table-sm my-2 text-center align-middle">
    <thead>
      <tr class="">
        <th scope="col" class="">Отдел</th>
        <th scope="col" class="">ФИО</th>
        <th scope="col" class="">Замещает</th>
        <th scope="col" class="">Отпуска за последние 3 года</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employees %}
        <tr class="">
          <td class="fw-bold">
            <a class="text-decoration-none" href="{% url 'vacations:by_department' employee.department.pk %}">
              {{ employee.department }}
            </a>
          </td>
          <td class="fw-bold">
            <a class="text-decoration-none"
               href="{% url 'vacations:details' employee.pk %}">
              {{ employee }}
            </a>
          </td>
          <td>
            {% if employee.replaces is null %}
              -
            {% else %}
              <a class="text-decoration-none"
                 href="{% url 'vacations:details' employee.replaces.pk %}">
                {{ employee.replaces }}
              </a>
            {% endif %}
          </td>
          <td>
            {% for vacation in vacations %}
              {% if vacation.employee == employee and vacation.relevance >= RELEVANT %}
                <label class="{% if vacation.relevance == PLANNED %}text-success
                {% elif vacation.relevance == ARCHIVE %}text-secondary{% endif %}">{{ vacation.start|date:"SHORT_DATE_FORMAT" }} - {{ vacation.end|date:"SHORT_DATE_FORMAT" }}</label><br>
              {% endif %}
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}