{% extends "layout/basic.html" %}

{% block title %}test{% endblock %}

{% block leftbar %}
Left bar
{% endblock %}

{% block content %}
Content

<!--
  <div class="container mh-100">
    <div class='row mh-100'>
    <div class='col-6 mh-100'>
        <div class='row mh-100'>
            <div class='col-12 bg-primary bg-gradient'>A</div>
            <div class='col-12 bg-secondary bg-gradient'>B</div>
            <div class='col-12 bg-success bg-gradient'>C</div>
        </div>
    </div>
    <div class='col-6 mh-100'>
        <div class='row mh-100'>
            <div class='col-12 bg-danger bg-gradient mh-100'>D</div>
        </div>
    </div>
</div>
  </div>
  -->
{% endblock %}